body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropbtn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar-right {
  display: flex;
}
